<p>Below is a visual status report of various services of this website.  Green signals <span class='working'>working</span>, yellow means it is <span class='testing'>in testing</span>, and red means <span class='broken'>it'll be a while</span>.  If you have any questions email us: <%= mail_to 'soo@ir.iit.edu' %></p>

<table>
  <tr>
    <td class='working'>Searching</td>
    <td class='testing'>Port records</td>
  </tr>
  <tr>
    <td colspan='2' class='broken'>Suggestive search algorithm</td>
  </tr>
  <tr>
    <td colspan='1' class='working'>Verify books</td>
    <td colspan='1' class='working'>Formatted listings</td>
  </tr>
  <tr>
    <td colspan='1' class='broken'>New server</td>
    <td colspan='1' class='working'>Adding books</td>
  </tr>
  <tr>
    <td colspan='1' class='working'>Editing books</td>
    <td colspan='1' class='working'>Adding languages</td>
  </tr>
  <tr>
    <td colspan='2' class='working'>Uploading files with books</td>
  </tr>
  <tr>
    <td colspan='1' class='working'>Advanced Search</td>
    <td colspan='1' class='working'>Admin features</td>
  </tr>
</table>
