<h1>Listing alternate_titles</h1>

<table>
  <tr>
  </tr>

<% for alternate_title in @alternate_titles %>
  <tr>
    <td><%= link_to 'Show', alternate_title %></td>
    <td><%= link_to 'Edit', edit_alternate_title_path(alternate_title) %></td>
    <td><%= link_to 'Destroy', alternate_title, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New alternate_title', new_alternate_title_path %>
