
<% form_for(@location) do |f| %>
  <fieldset>
    <legend>Location</legend>

  <input type="hidden" id="location_book_id" name="location[book_id]" value="<%= params[:id] %>" />

  <p>
    <%= select 'location', :location_type_id, LocationType::LOCATIONS %>
  </p>
  <p>
    <%= f.submit 'Add location' %>
  </p>

  </fieldset>
<% end %>



