<h1>Listing locations</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Number of books</th>
  </tr>

<% for location in @merged %>
  <tr>
    <td><%= link_to location.name, location %></td>
    <td><%=h location.book_count %></td>
  </tr>
<% end %>
</table>
