<h1>Listing locations</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Number of books</th>
  </tr>

<% for location in @merged %>
  <tr>
    <% if location.class == LocationType %>
      <td><%= link_to location.name, location %></td>
    <% else %>
      <% # Otherwise it is a location variation %>
      <% variation = location.name.split('(')[0] %>
      <% parent = "(" + location.name.split('(')[1] %>
      <td><%= link_to variation, location %> <%= link_to parent, location.location_type %></td>
    <% end %>
    <td><%=h location.book_count %></td>
  </tr>
<% end %>
</table>
