
  <input type="hidden" id="find_by" name="find_by" value="title" />
  <p>
    <%= label_tag 'title' %>
    <%= text_field_tag 'title', nil, { :size => 30, :autocomplete => 'off' } %>
    <div class='auto_complete' id='book_title_auto_complete'></div>
    <%= text_field_with_auto_complete :book, :title %>

  </p>
