<h3>Search by</h3>

<ul>
  <li><%= link_to 'All',  :controller => 'books', :action => 'index'  %></li>
  <li><%= link_to 'Title', :action => 'search_by_title'  %></li>
  <li><%= link_to 'Contributor', :action => 'search_by_contributor'  %></li>
</ul>
