<h3>Search by</h3>

<ul class="horizontal_list">
  <li><%= link_to 'All',  :controller => 'books', :action => 'index'  %></li>
  <li><%= link_to 'Title', :action => 'search', :find_by => 'title'  %></li>
  <li><%= link_to 'Contributor', :action => 'search', :find_by => 'contributor' %></li>
  <li><%= link_to 'Advanced', :action => 'search', :find_by => 'advanced' %></li>
</ul>
