<% form_tag :action => 'search' do %>

  <input type="hidden" id="find_by" name="find_by" value="title" />
  <p>
    <%= label_tag 'title' %>: 
    <%= text_field_tag 'title', nil, :size => 50 %>
  </p>

  <p>
    <%= submit_tag "Search" %>
  </p>
<% end %>
