<p>No results found matching "Zeludoc".  Perhaps you meant:</p>
<ul>
  <li><%= link_to "Sefer Z'eludok ve-Orlovah : gal`ed le-zikaron", '#' %> -- 50%</li>
  <li><%= link_to "Zabludove : yizkor bukh : di geshikhte fun fer yidisher kehile Zabludove fun ir bereshit biz ir fartilikung durkh dinatsishe rotshim", '#' %> -- 25%</li>
  <li><%= link_to "Pinkas Ludmir : sefer-zikaron li-kehilat Ludmir", '#' %> -- 25%</li>
</ul>
