<table>
  <tr>
    <th>Location</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h locations_name(location) %></td>
    <td><%= link_to 'Destroy', book_location_path(@book, location), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
